In [50]:
#https://github.com/cltl/python-for-text-analysis/blob/master/Chapters/Chapter%2003%20-%20Strings.ipynb

# Question 1.
#Use Python as a calculator to calculate the number of seconds in seven years (in one line of code).
#Assign the output to a variable with a clear variable name. Print the result.

In [6]:
import time, datetime
second_in_one_min = 60
minutes_in_one_hour = 60
hours_in_one_day = 24
total_second_in_day = second_in_one_min*minutes_in_one_hour*hours_in_one_day

user_input = input("Enter the Number of Years, We will caluate the seconds ")
total_second = (total_second_in_day)*(365*int(user_input))
print (" Your Entered Years \t:{} \tAnd Total Seconds are :\t{} seconds".format(user_input, total_second))

Enter the Number of Years, We will caluate the seconds 12
 Your Entered Years 	:12 	And Total Seconds are :	378432000 seconds

# Question 2
#Run the following code block and see what happens. 
#Can you fix the invalid variable names? You should get no error in the end

In [11]:
eggs = 3
_eggs = 6
#5eggs = 5 # Variable not start with number
#eggs$ = 1 # Special character not use in variable define
eggs123 = 9
ten_eggs = 10
TwelveEggs = 8
#twelve.eggs = 12 # Namerror due to dot

# Question 3
#Can you write some code that swaps the values of these two variables? Hint: create an extra variable

In [18]:
First_number = 3
Second_number = 5 
print ("~*~"*10)
print ("Number First before Swap : {} And Second Number as well : {}".format(First_number,Second_number))
Swap_value_f = First_number
First_number = Second_number
Second_number = Swap_value_f
print ("~*~"*10)
print ("Number First After Swap : {} And Second Number as well : {}".format(First_number,Second_number))

~*~~*~~*~~*~~*~~*~~*~~*~~*~~*~
Number First before Swap : 3 And Second Number as well : 5
~*~~*~~*~~*~~*~~*~~*~~*~~*~~*~
Number First After Swap : 5 And Second Number as well : 3

Question 4
#Can you write some code that swaps the values of these two variables? Hint: without an extra variable

In [19]:
First_number = 30
Second_number = 50
print ("~*~"*10)
print ("Number First After Swap : {} And Second Number as well : {}".format(First_number,Second_number))
First_number = First_number * Second_number
Second_number = First_number//Second_number
First_number = First_number // Second_number
print ("~*~"*10)
print ("Number First After Swap : {} And Second Number as well : {}".format(First_number,Second_number))

~*~~*~~*~~*~~*~~*~~*~~*~~*~~*~
Number First After Swap : 30 And Second Number as well : 50
~*~~*~~*~~*~~*~~*~~*~~*~~*~~*~
Number First After Swap : 50 And Second Number as well : 30

Question 5
#Write a program that asks two people for their names using input(). 
#Store the names in variables called name1 and name2. Say hello to both of them

In [25]:
name_1 =  input("Enter the Name :\t")
print("Hello,", name_1)
name_2 = input("Enter the Second Name :\t")
print("Hello,", name_2)
print ("\n",name_1,name_2,"\t Both Hello each other ")

Enter the Name :	JD
Hello, JD
Enter the Second Name :	JD
Hello, JD

 JD JD 	 Both Hello each other

In [27]:
# Remove the Error do any opertaion
print("Hello" / "World")

TypeError: unsupported operand type(s) for /: 'str' and 'str'

Exercise 6:
#Does the following give you the result that you expected? 
#What is the type of result? What do you need to change if you simply want to do a calculation?

In [30]:
result = "1" + "3"
print ("String Return :\t",result)
print ("For Number Calculation :\t",int(result[0])+int(result[1]))

String Return :	 13
For Number Calculation :	 4

Exercise 7:
#What's wrong in the following code? Fix it by changing something in the third line.

In [32]:
x = 10 
y = "5"
z = x / y 
print(z)

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [33]:
x = 10 
y = "5"
z = x / int(y)
print(z)

2.0

Exercise 8:
#Use input() to ask a user for any number 
#Divide this number by nr1 and store the result as a variable. Print the value and the type of this variable

In [35]:
nr1 = 2
number_value = int(input("User Number :\t"))/nr1
print ("nr1 Value is {} , Result is {} and Type of Result is {}".format(nr1,number_value,type(number_value)))

User Number :	5
nr1 Value is 2 , Result is 2.5 and Type of Result is <class 'float'>

In [37]:
multiline_text_1 = """This is a multiline text, so it is enclosed by triple quotes.
Pretty cool stuff!
I always wanted to type more than one line, so today is my lucky day!"""
multiline_text_2 = "This is a multiline text, so it is enclosed by triple quotes.\nPretty cool stuff!\nI always wanted to type more than one line, so today is my lucky day!"
print(multiline_text_1)
print() # this just prints an empty line
print(multiline_text_2)

This is a multiline text, so it is enclosed by triple quotes.
Pretty cool stuff!
I always wanted to type more than one line, so today is my lucky day!

This is a multiline text, so it is enclosed by triple quotes.
Pretty cool stuff!
I always wanted to type more than one line, so today is my lucky day!

In [38]:
print(multiline_text_1 == multiline_text_2)

True

In [39]:
# Show the internal representation of multiline_text_1.
print(repr(multiline_text_1))
print(repr(multiline_text_2))

'This is a multiline text, so it is enclosed by triple quotes.\nPretty cool stuff!\nI always wanted to type more than one line, so today is my lucky day!'
'This is a multiline text, so it is enclosed by triple quotes.\nPretty cool stuff!\nI always wanted to type more than one line, so today is my lucky day!'

In [40]:
colors = "yellow\tgreen\tblue\tred"
print(colors)
print(repr(colors))

yellow	green	blue	red
'yellow\tgreen\tblue\tred'

# NOTE : Comparing strings !!!!!!!!


In Python it is possible to use comparison operators (as used in conditional statements) on strings. These operators are: ==, !=, <, <=, >, and >=
String comparison is always case-sensitive. Some of the comparison operations (greater/smaller than) are useful for putting words in lexicographical order. This is similar to the alphabetical order you would use with a dictionary, except that all the uppercase letters come before all the lowercase letters (so first A, B, C, etc. and then a, b, c, etc.)

In [41]:
print('a' == 'a')
print('a' != 'b')
print('a' == 'A')  # string comparison is case-sensitive
print('a' < 'b')   # alphabetical order
print('A' < 'a')   # uppercase comes before lowercase
print('B' < 'a')   # uppercase comes before lowercase
print()
print('orange' == 'Orange')
print('orange' > 'Orange')
print('orange' < 'Orange')
print('orange' > 'banana')
print('Orange' > 'banana')

True
True
False
True
True
True

False
True
False
True
False

Another way of comparing strings is to check whether a string is part of another string,
which can be done using the in operator. It returns True if the string contains the relevant substring, and False if it doesn't. These two values (True and False) are called boolean values, or booleans for short. 
We'll talk about them in more detail later. Here are some examples to try:

In [42]:
"fun" in "function"

True

In [43]:
"I" in "Team"

False

In [44]:
"App" in "apple" # Capitals are not the same as lowercase characters!

False

In [48]:
s = ' Humpty Dumpty sat on the wall '
print(s)
s = s.strip() 
print ("~~*~~"*2)
print(s)

print(s.upper())
print ("~~*~~"*4)
print(s.lower())
print ("~~*~~"*6)
print(s.count("u"))
print ("~~*~~"*8)
print(s.count("U"))
print ("~~*~~"*10)
print(s.find('sat'))
print ("~~*~~"*12)
print(s.find('t', 12))
print ("~~*~~"*14)
print(s.find('q', 12))
print ("~~*~~"*14)
print(s.replace('sat on', 'fell off'))
print ("~~*~~"*16)
words = s.split()    # This returns a list, which we will talk about later.
for word in words:   # But you can iterate over each word in this manner
    print(word.capitalize())
    print ("~~*~~"*18)

print('-'.join(words))

 Humpty Dumpty sat on the wall
~~*~~~~*~~
Humpty Dumpty sat on the wall
HUMPTY DUMPTY SAT ON THE WALL
~~*~~~~*~~~~*~~~~*~~
humpty dumpty sat on the wall
~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~
2
~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~
0
~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~
14
~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~
16
~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~
-1
~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~
Humpty Dumpty fell off the wall
~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~
Humpty
~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~
Dumpty
~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~
Sat
~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~
On
~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~
The
~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~
Wall
~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~~~*~~
Humpty-Dumpty-sat-on-the-wall

Exercise 9:
#Can you identify and explain the errors in the following lines of code? Correct them please!

In [49]:
print("A message").
print("A message')
print('A message"')

SyntaxError: invalid syntax (<ipython-input-49-bbe716cb111a>, line 1)

Exercise 10:
#Can you print all index value of 'a' present in banana ?

In [80]:
Fruit_B = "Banana"
print (" Total Count of A :\t",Fruit_B.count('a'))
Index_values = [ index[0] for index in enumerate(Fruit_B) if index[1] == 'a']
print (" Index values where 'a' is located in String :\t", Index_values)

 Total Count of A :	 3
 Index values where 'a' is located in String :	 [1, 3, 5]

Exercise 10:
#Replace all a's by o's in 'banana' using a string method.

In [82]:
Fruit_B = "Banana"
Fruit_B = Fruit_B.replace('a','o')
Fruit_B

'Bonono'

In [83]:
{1, 2, 3} == {2, 3, 1}

True